@font-face {
  font-family: "voltic";
  src: url("font/Yantramanav/Yantramanav-Regular.ttf");
}




 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,html{
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: 'voltic';
  cursor: default;
}

nav{
  width: 100%;
  height: 13%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo{
  width: 6%;
  display: flex;
  justify-content: space-between;
}
.logo I{
  font-size: 25px;
}


.manu{
  width: 30%;
  display: flex;
  justify-content: space-around;
}

h4 {
  position: relative;
  cursor: default;
  font-weight: 400;
  color:#828080;
  font-size: 19px;
}

h4::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

h4:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
h4:hover{
  color: #ffffff;
  transition: 400ms;
}
.profile button{
  padding: 8px 20px;
  font-size: 15px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  background: transparent;
}

.hero-section{
  width: 100%;
  height: 87vh;
  display: flex;
  justify-content:center;
  align-items: center;
  font-weight: 900;
}

.hero-main{
  width: 60%;
  height: 90% ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.hero-main h1{
  font-size: 5rem;
  font-weight: 700;
  line-height: 4.8vw;
  color: #FBFBFB;

}
.hero-main p{
  font-size: 1.2rem;
  font-weight: 200;
  margin-top: 20px;
  color: #575757;
}

.hero-main button{
  padding: 20px 50px;
  font-size: 1.3rem;
  border: none;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.4) 0  0 20px 0;
}


.hero-main button:hover{
  background-color: white;
  color: black;
  box-shadow: none;
  transition: 300ms;
}


.page2{
  width: 100%;
  height: 100vh;
}



nav .manu h4 {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}